<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd"
 xmlns:cache="http://www.springframework.org/schema/cache">
    
    <!--bean id="song" class="edu.gti.ariel.test.swingspring.model.Song">
        <property name="title" value="The Shape of you" />
        <property name="artist" value="Ed Sheeran" />
    </bean-->
    
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/gti_record_keeping" />
        <property name="username" value="ariel" />
        <property name="password" value="password" />
    </bean>
    
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>
        
    <!-- User beans -->
    <bean id="userDao" class="edu.gti.asd.ariel.recordkeeping.dao.UserDao" >
        <property name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>
    
    <bean id="userService" class="edu.gti.asd.ariel.recordkeeping.service.UserServiceImpl">
        <property name="userDao" ref="userDao" />
    </bean>
    
    <!-- Department beans -->
    <bean id="departmentDao" class="edu.gti.asd.ariel.recordkeeping.dao.DepartmentDao" >
        <property name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>
    
    <bean id="departmentService" class="edu.gti.asd.ariel.recordkeeping.service.DepartmentServiceImpl">
        <property name="departmentDao" ref="departmentDao" />
    </bean>
    
    <!-- Course beans -->
    <bean id="courseDao" class="edu.gti.asd.ariel.recordkeeping.dao.CourseDao" >
        <property name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>
    
    <bean id="courseService" class="edu.gti.asd.ariel.recordkeeping.service.CourseServiceImpl">
        <property name="courseDao" ref="courseDao" />
    </bean>
    
    <!-- Course type beans -->
    <bean id="courseTypeDao" class="edu.gti.asd.ariel.recordkeeping.dao.CourseTypeDao" >
        <property name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>
    
    <bean id="courseTypeService" class="edu.gti.asd.ariel.recordkeeping.service.CourseTypeServiceImpl">
        <property name="courseTypeDao" ref="courseTypeDao" />
    </bean>
    
    <!-- City beans -->
    <bean id="cityDao" class="edu.gti.asd.ariel.recordkeeping.dao.CityDao" >
        <property name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>
    
    <bean id="cityService" class="edu.gti.asd.ariel.recordkeeping.service.CityServiceImpl">
        <property name="cityDao" ref="cityDao" />
    </bean>
    
    <!-- Gender beans -->
    <bean id="genderDao" class="edu.gti.asd.ariel.recordkeeping.dao.GenderDao" >
        <property name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>
    
    <bean id="genderService" class="edu.gti.asd.ariel.recordkeeping.service.GenderServiceImpl">
        <property name="genderDao" ref="genderDao" />
    </bean>
    
    <!-- Address beans -->
    <bean id="addressDao" class="edu.gti.asd.ariel.recordkeeping.dao.AddressDao" >
        <property name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>
    
    <bean id="addressService" class="edu.gti.asd.ariel.recordkeeping.service.AddressServiceImpl">
        <property name="addressDao" ref="addressDao" />
    </bean>
    
    <!-- Student beans -->
    <bean id="studentDao" class="edu.gti.asd.ariel.recordkeeping.dao.StudentDao" >
        <property name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>
    
    <bean id="studentService" class="edu.gti.asd.ariel.recordkeeping.service.StudentServiceImpl">
        <property name="studentDao" ref="studentDao" />
        <property name="addressDao" ref="addressDao" />
    </bean>
    
    <!-- Rolebeans -->
    <bean id="roleDao" class="edu.gti.asd.ariel.recordkeeping.dao.RoleDao" >
        <property name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>
    
    <bean id="roleService" class="edu.gti.asd.ariel.recordkeeping.service.RoleServiceImpl">
        <property name="roleDao" ref="roleDao" />
    </bean>

</beans>
